@import "variables";

* {
  box-sizing: border-box;
}

html,
body,
#root,
 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body,{
  font-family: sans-serif;
  background-color: $dark-gray-color;
  @extend %text;
}


