@import "variables";


%h1 {
  font-family: $secondary-font-stack;
  font-weight: 600;
  font-size: 64px;
  color: $white-color;
}

%h2 {
  font-family: $secondary-font-stack;
  font-weight: 600;
  font-size: 42px;
  color: $white-color;
  margin: 0 0 $big-indent;
}

%text {
  font-family: $primary-font-stack;
  font-weight: 400;
  font-size: 18px;
  color: $white-color;
}

%subtitle {
  font-size: 24px;
  font-weight: 700;
  color: $white-color;
  line-height: 27px;
}

%resetButton {
  margin: 0;
  padding: 0;
  border: none;
  background: unset;
}
