@import "src/app/styles";

.unstakeForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $big-indent;
  border: 1px solid $default-border-color;
  border-radius: $default-border-radius;
  padding: $default-indent $big-indent;
  min-height: 250px;
}

.data {
  display: grid;
  grid-template-columns: 1fr;
  gap: $default-indent;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: $default-indent;
}
