@import "src/app/styles";

.exchangePage {
  display: grid;
  grid-template: 1fr/1fr;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-gap: $default-indent;
}

.body {
  margin: 0 auto;
  width: max-content;
  display: grid;
  grid-gap: $default-indent;
}
