@import "src/app/styles/variables";

.wallet {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: max-content 1fr;
  border: 2px solid $default-border-color;
  border-radius: $default-border-radius;
  padding: $default-indent $big-indent;
  align-items: center;
  gap: $default-indent;
}

.image {
  width: 24px;
  height: 24px;

  & > img {
    width: 100%;
    height: 100%;
  }
}

.address {
  border-radius: $default-border-radius;
  background-color: $default-border-color;
  padding: $small-indent $default-indent;
}
