@import "src/app/styles/variables";

.header {
  min-height: $header-height;
  display: flex;
  align-items: center;
  height: max-content;
  padding: $default-indent 0;
}

.actions {
  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;
  gap: $default-indent;
  justify-self: end;

  &.hasSigner {
    grid-template: 1fr / repeat(2, 1fr);
  }
}

@media screen  and (max-width: $desktop-width){
  .body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    justify-items: center;
  }

  .actions {
    justify-self: center;
  }

}
